<h2>My people</h2>
<ul class="people">
    <li *ngFor="let person of people">
        <a routerLink="/person/{{person.personId}}">
            <span class="badge">{{person.personId}}</span> {{person.personName}}
        </a>
    </li>
</ul>