<!-- <div *ngIf="person">
    <h2>{{person.PersonName | uppercase}} Details</h2>
    <div><span>id: </span>{{person.PersonId}}</div>
    <div><span>name: </span>{{person.PersonName}}</div>
</div>
<button (click)="goBack()">go back</button> -->