<h3>Top people</h3>
<div class="grid grid-pad">
    <a *ngFor="let person of people" class="col-1-4" routerLink="/person/{{person.personId}}">
        <div class="module person">
            <h4>{{person.personName}}</h4>
        </div>
    </a>
</div>