<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/people">People</a>
    <a routerLink="/starships">Starships</a>
  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>